/* flatten html css */

/* 
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Raleway:400,400i,700&display=swap');

font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;
*/


.portfolio-card ul {
    list-style-position: inside; 
    padding-left: inherit;
    }

.all-caps-text {
    text-transform: uppercase;
    }

.card-component-img {
    border-radius: 3px;
    background-color: #DBDBDB;
    }

.fa {
    font-size: 2.25rem;
    color: #1E90FF;
    text-decoration: none;
    }
    
.fa:hover {
    text-decoration: underline;
    }

.font-icon {
    display: inline-block;
    margin: .2em .50em 0 0;
}

.card-text-uppercase {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    }

.portfolio-card {
    margin-bottom: 2em;
    }
 
.portfolio-title {
    font-size: 1.75rem;
    border-bottom: 10px solid #DBDBDB;
    grid-column: 1 / -1;
    text-align: center;
    justify-self: center;
    }

.card-title {
    font-size: 1.35rem;
    font-weight: 300;
    }

.card-text-description {
    font-size: 1rem;
    }


@media (min-width: 600px) {
    
.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
    grid-gap: 1em;
    padding: 1em;
    }

.portfolio-title {
    font-size: 2rem;
    width: 350px;
    border-bottom: 10px solid #dbdbdb;
    }

.portfolio-card {
    margin: 1em;
    }

.card-title {
    font-size: 1.75rem;
    font-family: 'Lato', sans-serif;
    }

.card-list-ul-copy {
    padding-top: 0;
    }
}