/* portfolio css */

/*
* {
    box-sizing: border-box;
    }

body, html {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #000000;
    line-height: 1.6;
    margin: 1em;
    }*/

.portfolio-card ul {
    list-style-position: inside; 
    padding-left: inherit;
    }

img {
    max-width: 100%;
    height: auto;
    display: block;
    }

.fab, 
.fas {
    font-size: 2rem;
    color: #1E90FF;
    }

.portfolio .fab:hover, 
.portfolio .fab:focus,
.portfolio .fas:hover, 
.portfolio .fas:focus {
    font-size: 2rem;
    color: #1E90FF;
    }

.all-caps-text {
    text-transform: uppercase;
    }

.card-component-img {
    border-radius: 3px;
    background-color: #DBDBDB;
    }


.font-awesome {
    display: inline-block;
    margin: .2em .55em 0 0;
    }

.card-text-uppercase {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    }

.portfolio-card {
    margin-bottom: 2em;
    }
 
.portfolio-title {
    font-size: 1.75rem;
    border-bottom: 10px solid #dbdbdb;
    grid-column: 1 / -1;
    text-align: center;
    justify-self: center;
    }

.card-title {
    font-size: 1.35rem;
    font-weight: 300;
    }

.card-text-description {
    font-size: 1rem;
    }


@media (min-width: 600px) {

    body, html {
    margin: 2em 3em;
    }

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 1em;
    padding: 1em;
    }

.portfolio-title {
    font-size: 2rem;
    width: 350px;
    border-bottom: 10px solid #dbdbdb;
    }

.portfolio-card {
    margin: 1em;
    }

.card-title {
    font-size: 1.5rem;
    }

.card-list-ul-copy {
    padding-top: 0;
    }